<!-- Футер -->
<footer class="py-4 bg-dark text-white">
  <div class="container">
    <div class="row text-center text-md-start">
      <!-- Колонка "Полезные ссылки" -->
      <div class="col-12 col-md-4 mb-3">
        <h5>Полезные ссылки</h5>
        <ul class="list-unstyled">
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/">Главная страница</a></li>
          {% if request.path == "/" %}
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#services">Услуги</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#about">О враче</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#mystory">Видео рассказ о себе</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#fotogalery">Фото галерея</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#certificates">Дипломы и сертификаты</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#blog">Новые статьи в блоге</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#video-tur">Видео отзывы пациентов</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#contact">Контакты</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="#social">Социальные сети</a></li>
          {% endif %}
          {% with request.resolver_match.view_name as view_name %}
          <li class="nav-item "><a class="text-reset text-decoration-none py-0" href="/posts/list/">Блог остеопата</a></li>
          {% if user.is_authenticated %}
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/admin/blog/post/add/">Написать пост</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="{% url 'blog:profile' user.username %}">{{ user.username }}</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="{% url 'logout' %}">Выйти</a></li>
          {% else %}
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/auth/login/">Войти</a></li>
          <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/auth/registration/">Регистрация</a></li>
          {% endif %}
          {% endwith %}   
        </ul>
      </div>
      <!-- Колонка "Контакты" -->
      <div class="col-12 col-md-4 mb-3">
        <h5>Контакты</h5>
        <ul class="list-unstyled">
          <li><a href="tel:+79052294650" class="text-white text-decoration-none">+7 905 229 46 50</a></li>
          <li><a href="mailto:veta1981@yandex.ru" class="text-white text-decoration-none">veta1981@yandex.ru</a></li>
          <li>Санкт-Петербург, Россия</li>
        </ul>
      </div>
      <!-- Колонка "Социальные сети" -->
      <div class="col-12 col-md-4 mb-3 text-center text-md-start">
        <h5>Мои соцсети</h5>
        <a href="https://wa.me/79052294650" target="_blank" class="text-white me-3"><i class="fab fa-whatsapp fa-lg"></i></a>
        <a href="https://t.me/ViolettaValetchik" target="_blank" class="text-white me-3"><i class="fab fa-telegram fa-lg"></i></a>
        <a href="https://max.ru/u/f9LHodD0cOIbSXvl8MKOtZd1TgGA3E5OfLuQ6Zg0gTgK3fyjdnz53Tl9b6I" target="_blank" class="text-white me-3"><i class="fab fa-max fa-lg"></i></a>
        <a href="https://vk.com/club136944002" target="_blank" class="text-white"><i class="fab fa-vk fa-lg"></i></a>
      </div>
    </div>
    <!-- Нижняя строка с копирайтом -->
    <div class="text-center mt-4">
      <p class="mb-0">&copy; 2025 Остеопат Виолетта</p>
      <a class="text-reset text-decoration-none py-0" href="/posts/10/">
        <p class="mb-0">Политика конфиденциальности</p>
      </a>
      </a>
    </div>
  </div>
</footer>
