{% load static %}
<header>
    <nav class="navbar navbar-light bg-white fixed-top">
        <div class="container d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center logo-section">
                <a href="/" class="navbar-brand d-flex align-items-center">
                    <img src="{% static 'img/logo.png' %}" alt="Логотип сайта Остеопат Виолетта" class="rounded-circle logo-spacing" loading="lazy">
                    <span class="ml-3">Остеопат Виолетта</span>
                </a>
            </div>
    
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse navbar-nav-scroll" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/">Главная страница</a></li>
                    {% if request.path == "/" %}
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#services" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Услуги</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#about" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">О враче</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#mystory" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Видео рассказ о себе</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#fotogalery" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Фото галерея</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#certificates" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Дипломы и сертификаты</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#blog" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Новые статьи в блоге</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#video-tur" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Видео отзывы пациентов</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#contact" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Контакты</a></li>
                        <li class="nav-item"><a class="nav-link text-reset text-decoration-none py-0" href="#social" data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">Социальные сети</a></li>
                    {% endif %}
                    {% with request.resolver_match.view_name as view_name %}
                    <li class="nav-item "><a class="text-reset text-decoration-none py-0" href="/posts/list/">Блог остеопата</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/admin/blog/post/add/">Написать пост</a></li>
                    <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="{% url 'blog:profile' user.username %}">{{ user.username }}</a></li>
                    <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="{% url 'logout' %}">Выйти</a></li>
                    {% else %}
                    <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/auth/login/">Войти</a></li>
                    <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/auth/registration/">Регистрация</a></li>
                    {% endif %}
                    {% endwith %}
                    <li class="nav-item"><a class="text-reset text-decoration-none py-0" href="/posts/10/">Политика конфиденциальности</a></li>
                </ul>
                <div class="d-flex align-items-center social-icons">
                    <a class="nav-link px-2" href="https://wa.me/79052294650" target="_blank" rel="noopener" aria-label="WhatsApp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="nav-link px-2" href="https://t.me/ViolettaValetchik" target="_blank" rel="noopener" aria-label="Telegram">
                        <i class="fab fa-telegram"></i>
                    </a>
                    <a class="nav-link px-2" href="https://max.ru/u/f9LHodD0cOIbSXvl8MKOtZd1TgGA3E5OfLuQ6Zg0gTgK3fyjdnz53Tl9b6I" target="_blank" rel="noopener" aria-label="Max">
                        <i class="fab fa-max"></i>
                    </a>
                    <a class="nav-link px-2" href="https://vk.com/club136944002" target="_blank" rel="noopener" aria-label="ВКонтакте">
                        <i class="fab fa-vk"></i>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</header>
<br>
